NEXT_PUBLIC_SUPABASE_URL=https://satbegsruiurnagwpcqs.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_BGNSE5-OJkNKTvDNnstC0A_q-Ix3A5K

SUPABASE_SERVICE_ROLE_KEY=PASTE_SERVICE_ROLE_KEY_DISINI

NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_APP_NAME=Invitely

NEXT_PUBLIC_WHATSAPP_NUMBER=6285179950857